{{- $src := .Destination -}}
{{- $alt := .PlainText -}}
{{- $title := .Title -}}
{{- with .Page.Resources.GetMatch $src -}}
  {{- if eq .ResourceType "image" -}}
    {{- $img := . -}}
    {{- if gt .Width 716 -}}
      {{- $img = .Resize "716x q82" -}}
    {{- end -}}
    <img src="{{ $img.RelPermalink }}" alt="{{ $alt }}" width="{{ $img.Width }}" height="{{ $img.Height }}" loading="lazy"{{ with $title }} title="{{ . }}"{{ end }}>
  {{- else -}}
    <img src="{{ .RelPermalink }}" alt="{{ $alt }}" loading="lazy"{{ with $title }} title="{{ . }}"{{ end }}>
  {{- end -}}
{{- else -}}
  {{- with resources.Get $src -}}
    <img src="{{ .RelPermalink }}" alt="{{ $alt }}"{{ with $title }} title="{{ . }}"{{ end }}>
  {{- else -}}
    <img src="{{ $src | safeURL }}" alt="{{ $alt }}"{{ with $title }} title="{{ . }}"{{ end }}>
  {{- end -}}
{{- end -}}
