<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{- partial "meta.html" . }}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="{{ "/dbx.css" | relURL }}">
</head>
<body>
  <main class="dbx-page{{ if .Params.pageWidth }} dbx-page--{{ .Params.pageWidth }}{{ end }}{{ block "pageClass" . }}{{ end }}">
    {{- partial "header.html" . }}
    {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . }}
  </main>
  {{- partial "extend_head.html" . }}
</body>
</html>
