<header class="dbx-topbar">
  <nav class="dbx-path">
    <a href="{{ "/" | relURL }}" class="dbx-path__home">/home/dbut2</a>
    {{- $path := strings.Trim .RelPermalink "/" -}}
    {{- if $path }}
      {{- $segs := split $path "/" -}}
      {{- $accum := "" -}}
      {{- range $i, $seg := $segs -}}
        {{- $accum = printf "%s/%s" $accum $seg -}}
        {{- $display := $seg -}}
        {{- if eq $seg "blog" }}{{ $display = "writing" }}{{ end -}}
        {{- if eq $seg "photography" }}{{ $display = "photos" }}{{ end -}}
        <span class="dbx-path__sep">/</span>
        {{- if eq (add $i 1) (len $segs) -}}
          <span class="dbx-path__current">{{ $display }}{{ if $.IsPage }}<span class="dbx-path__ext">.md</span>{{ end }}</span>
        {{- else -}}
          <a href="{{ $accum | relURL }}">{{ $display }}</a>
        {{- end -}}
      {{- end }}
    {{- end }}
  </nav>
</header>
