<div x-data="{
    open: false,
    image: '',
    index: 0,
    images: {{ .Page.Params.images | jsonify }},
    nextImage() {
        this.index = (this.index + 1) % this.images.length;
        this.image = this.images[this.index];
    },
    prevImage() {
        this.index = (this.index - 1 + this.images.length) % this.images.length;
        this.image = this.images[this.index];
    },
    closeGallery() {
        this.open = false;
    }
}"
     @keydown.escape="closeGallery()"
     @keydown.arrow-right="nextImage()"
     @keydown.arrow-left="prevImage()"
     class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {{ range $index, $image := .Page.Params.images }}
    <img src="{{ . }}" alt="Gallery Image" class="w-full h-48 object-cover rounded cursor-pointer" @click="open = true; image = '{{ . }}'; index = {{ $index }}">
    {{ end }}

    <div x-show="open"
         x-transition:enter="transition ease-out duration-300"
         x-transition:enter-start="opacity-0 transform scale-90"
         x-transition:enter-end="opacity-100 transform scale-100"
         x-transition:leave="transition ease-in duration-300"
         x-transition:leave-start="opacity-100 transform scale-100"
         x-transition:leave-end="opacity-0 transform scale-90"
         class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-75"
         @click.self="closeGallery()">
        <div class="relative max-w-full max-h-full">
            <img :src="image" alt="Full size image" class="max-w-full max-h-[90vh] object-contain">
            <button @click="closeGallery()" class="absolute top-4 right-4 bg-white rounded-full p-2 text-gray-800 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
            <button @click="prevImage()" class="absolute left-4 top-1/2 transform -translate-y-1/2 bg-white rounded-full p-2 text-gray-800 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
                </svg>
            </button>
            <button @click="nextImage()" class="absolute right-4 top-1/2 transform -translate-y-1/2 bg-white rounded-full p-2 text-gray-800 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
            </button>
        </div>
    </div>
</div>

