name: Hugo /resources

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.145.0'

      - run: |
          rm -rf resources
          hugo

      - id: git-check
        run: |
          git add resources
          git status --porcelain
          echo "changes=$(git status --porcelain | wc -l)" >> $GITHUB_OUTPUT

      - name: Commit and push if changes
        if: steps.git-check.outputs.changes > 0
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git commit -m "Hugo /resources"
          git push
